<div class="surround">
  <div class="row text-center">
    <div class="col-12 col-sm feature-box">
      <h3>Riddle Me</h3>
      <br />
      <p>In the mood for a riddle? Let's see if you can figure this one out.</p>
      <br />
      <%= link_to "Riddles", riddle_path , class: "btn btn-primary" %>
    </div> 
  </div>
</div>