@import "bootstrap";

.awesome-box {
  background-color: #F1ECD8;
  padding: 10px;  
}

.awesome-box h2, .awesome-box h1 {
  margin: 10px;
}

.navbar-brand {
  max-width: 100px;
  height: 75px;
  border-radius: 50%;
}

.hero {
  background: image_url('Studying_on_Cerro_Chena.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 475px;
  margin: 0;
}

.riddle {
  padding: 10px;
}

.navbar {
  background: image_url('dark-grey-terrazzo.png');
}

.feature-box {
  width: auto;
  height: 450px;
  padding: 5px;
  margin: 20px;
  background: #5D5D5D;
  color: black;
}

.surround {
  background: image_url('oriental.png');
}

h3 {
  margin: 0;
}

.spoken {
  
}

#answer {
  display: none;
  color: #fff;
}

.speech-bubble {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 85%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  border-right: 0;
  margin-left: -25px;
  margin-bottom: -50px;
}

.clear {
  clear: both;
}