@import "bootstrap";

.awesome-box {
  background-color: black;
  width: 100%;
  margin-top: 0;
  padding: 10px;  
}

.icon {
  max-width: 100px;
  height: 75px;
  border-radius: 50%;
}

.headline {
  color: #2265A0;
}

.ask {
  margin: 20px;
}